<table>
  <tr>
    <td width=150px valign=top align=left><%= image_tag '/images/logo.png' %></td>
    <td align=center><%= image_tag '/images/cover.jpg', width: '90%', class: 'img-thumbnail' %></td>
    <td width=150px valign=top align=right><%= image_tag '/images/sakura.gif', width: '90%' %></td>
  </tr>
</table>
<br/>
